body {
    font-family: Arial, sans-serif;
    background-color: #000c0b;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #4170a5;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(55, 17, 226, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    width: 10cm;
}

label {
    margin-bottom: 5px;
}

input, button {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #5b87e6;
    border-radius: 8px;
}
